.wrapper {
  width: 100%;
  height: 100%;
}

.bg-shadow {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.712);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

a {
  text-decoration: none;
  color: #eee;
}

.btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.show {
  right: 0;
}

.nav__toggle {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 300px;
  background-color: #0d1b2a;
  padding: 10px;
  z-index: 1000;
}

.nav__toggle a {
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
  padding: 20px;
}

.nav__toggle a:hover {
  background-color: #1b263b;
}

.nav__toggle .fa-x {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 3rem;
  padding: 20px;
  color: #eee;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  cursor: pointer;
}

.nav__toggle .fa-x:hover {
  color: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../img/mountain_640.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 10px;
  overflow: hidden;
  z-index: 1;
}

.header__topBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  color: #eee;
  padding: 10px;
  z-index: 100;
}

.header__logo p {
  font-size: 4rem;
  text-transform: uppercase;
  padding: 10px;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.header__logo p:hover {
  color: #fff;
}

.header__mobileNav .fa-bars {
  font-size: 4rem;
  padding: 10px;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.header__mobileNav .fa-bars:hover {
  color: #fff;
}

.header__nav {
  display: none;
  padding: 10px;
}

.header__nav a {
  font-size: 2.2rem;
  padding: 10px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.header__nav a:hover {
  background-color: rgba(104, 104, 104, 0.308);
}

.header__mainBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  padding: 10px;
  z-index: 1;
}

.header__mainBox h2 {
  font-size: 2.4rem;
  font-weight: 400;
  font-style: italic;
  color: #eee;
}

.header__mainBox h1 {
  font-size: 6rem;
  text-align: center;
  color: #eee;
  margin: 20px 0 20px 0;
}

.header__btn {
  background: #eee;
  border: 2px solid #eee;
  padding: 15px 40px;
  font-size: 2rem;
  text-transform: uppercase;
  border-radius: 50px;
  -webkit-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s;
}

.header__btn:hover {
  background: transparent;
  color: #eee;
}

.impressions {
  width: 100%;
  height: 100vh;
  padding: 10px;
  margin-top: 60px;
}

.impressions__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}

.impressions__box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.impressions__box1 h1 {
  width: 100%;
  text-align: center;
  color: #393d3f;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 400;
}

.impressions__box1 p {
  margin-top: 40px;
  text-align: center;
  font-size: 1.6rem;
  font-style: italic;
}

.impressions__box1 .subtitle {
  color: #686c6d;
}

.impressions__box1 .stitle {
  font-size: 1.4rem;
  color: #318056;
}

@media (min-width: 768px) {
  .header__mobileNav {
    display: none;
  }
  .header__nav {
    display: block;
  }
  .impressions__box1 {
    max-width: 760px;
  }
}

@media (min-width: 820px) {
  .impressions__box1 p {
    font-size: 2.2rem;
  }
  .impressions__box1 .subtitle {
    font-size: 2rem;
  }
  .impressions__box1 .stitle {
    font-size: 2rem;
  }
}

@media (min-width: 992px) {
  .header {
    background-image: url("../img/mountains_1280.jpg");
  }
}
/*# sourceMappingURL=main.css.map */