@media (min-width: 768px) {
	.header {
		&__mobileNav {
			display: none;
		}

		&__nav {
			display: block;
		}
	}

	.impressions {
		&__box1 {
			max-width: 760px;
		}
	}
}

@media (min-width: 820px) {
	.impressions {
		&__box1 {

			p {
				font-size: 2.2rem;
			}

			.subtitle {
				font-size: 2rem;
			}

			.stitle {
				font-size: 2rem;
			}
		}
	}
}
