@media (min-width: 768px) {
	.header {
		&__mobileNav {
			display: none;
		}

		&__nav {
			display: block;
		}
	}

	.impressions {
		&__box1 {
			max-width: 760px;
		}

		&__box2 {
			.container {
				max-width: 992px;
				flex-direction: row;

				img {
					width: 50%;
				}

				.box__img {
					order: 2;
				}

				.about {
					order: 1;
				}
			}
		}
	}
}

@media (min-width: 820px) {
	.impressions {
		&__box1 {
			p {
				font-size: 2.2rem;
			}

			.subtitle {
				font-size: 2rem;
			}

			.stitle {
				font-size: 2rem;
			}
		}
	}
}
